<h1>New Sighting</h1>

<% if @sighting.errors.any? %>
  <p>Please fix these errors:</p>
  <ul>
    <% @sighting.errors.full_messages.each do |message| %>
      <li><p class="warning"><em><%= message %></em></p></li>
    <% end %>
  </ul>
<% end %>
<br>
<ul>
  <% @aliens.each do |alien| %>
    <li>
      <p>
        <strong><a href="/aliens/<%= alien.id %>"><%= alien.id %> - <%= alien.name %></a></strong>
      </p>
    </li>
  <% end %>
</ul>
<br>
<form action="/sightings/<%= @sighting.id %>" method="post">
  <label for="sighting_alien_id">Alien ID</label>
  <br>
  <input id="sighting_alien_id" name="sighting[alien_id]" type="number" value="<%= @sighting.alien_id %>">
  <br>
  <label for="sighting_latitude">Latitude</label>
  <br>
  <input id="sighting_latitude" name="sighting[latitude]" type="number" value="<%= @sighting.latitude %>">
  <br>
  <label for="sighting_longitude">Longitude</label>
  <br>
  <input id="sighting_longitude" name="sighting[longitude]" type="number" value="<%= @sighting.longitude %>">
  <br>
  <button class="btn">Add Sighting</button>
</form>

<p><a href="/sightings">Return to All Sightings</a></p>
